In [2]:
import pandas as pd

pd.read_csv('data/tongue_cancer.csv').describe()

            type        time     delta
count  80.000000   80.000000  80.00000
mean    1.350000   73.825000   0.66250
std     0.479979   67.263091   0.47584
min     1.000000    1.000000   0.00000
25%     1.000000   23.750000   0.00000
50%     1.000000   69.500000   1.00000
75%     2.000000  101.750000   1.00000
max     2.000000  400.000000   1.00000